<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="data:," rel="icon">
		<title>revise</title>
	</head>
	<body>
		<h2>dashboard</h2>

		<form action="/logout" method="post"><button>Log Out</button></form>
		<form action="/delete-account" method="post"><button>Delete Account</button></form>
	</body>
</html>
